@import '../style/style.scss';

.comingsoon-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: bolder;
  letter-spacing: 12px;
}

@include apply-to-small-screen {
  .comingsoon-wrapper {
    writing-mode: vertical-rl;
  }
}
