@import '../font/font.css';
@import '../style/style.scss';

.homepage-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.homepage-main-wrapper {
  width: 80%;
}
.homepage-main-section {
  position: relative;
  width: 100%;
  height: 700px;
  background-image: url(https://assets.sapi.work/apps/Macy-Blog/bg-min.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.blog-title {
  position: absolute;
  width: 100%;
  height: 130px;
  bottom: 0;
  text-align: center;
  font-family: 'pressStart2pregular';
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.8);
}

@include apply-to-small-screen {
  .homepage-main-wrapper {
    width: 90%;
    height: 90%;
  }
  .homepage-main-section {
    height: 90%;
  }
  .blog-title {
    font-size: 3rem;
  }
}
