@import '../font/font.css';

@mixin apply-to-small-screen {
  @media screen and (max-width: 768px) {
    @content;
  }
}

html {
  font-size: 16px;
}
@include apply-to-small-screen {
  html {
    font-size: 8px;
  }
}

body {
  margin: 0;
  font-family: 'gilroymedium', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'gilroyblack';
  color: #0d0d0d;
}

p {
  color: #6b737c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.section {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

@include apply-to-small-screen {
  .section {
    width: auto;
    margin: 0 0;
    padding: 0 3.4375rem;
  }
}
