@import '../font/font.css';
@import '../style/style.scss';

.menu-wrapper {
  position: absolute;
  right: 30px;
  top: 30px;
}

.menu-item {
  margin-bottom: 20px;
  font-size: 1rem;
  font-family: 'josefinSlabsemiBold';
  text-align: right;
  a {
    color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
  }
}

@include apply-to-small-screen {
  .menu-item {
    font-size: 1.75rem;
  }
}
